:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(37, 37, 37);
  background-color: #F1F5F9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
  color: #F1F5F9;
  background-color: #252525;
}

.dark_clr{
  background-color: rgb(37, 37, 37);
}